<div *ngIf="!tasks.length">Loading...</div>
<form>
  <input name="searchString" type="text" [(ngModel)]="searchString" class="form-control"
         (keydown.enter)="search()" placeholder="Input and press Enter for Search" />
</form>
<div *ngFor="let t of tasks">
  <span>  {{t?.title}}  </span>
  <span>  {{t?.dueDate}}  </span>
  <span>  {{t?.isComplete}} </span>
  <span *ngIf="t.id" routerLink="/task/{{t.id}}"> <button>edit</button></span>
</div>

<button><a routerLink="/add-task">Add New Task</a></button>
