<a class="router-link" routerLink="/add-task">Add New Task...</a>

<div>
  <form (ngSubmit)="save(f)" #f="ngForm" novalidate>
    <div>
      <label>Title</label>
      <input name="title" type="text" [(ngModel)]="task.title" class="form-control" />
    </div>

    <div>
      <label>Due Date</label>
      <input name="dueDate" type="date" [(ngModel)]="task.dueDate" class="form-control" />
    </div>

    <input type="button" value="Delete" class="btn btn-danger" (click)="delete()" />
    <input type="submit" value="Save" class="btn btn-success" />
    <input type="button" value="Cancel" class="btn btn-dark" routerLink="/tasks" />
  </form>
</div>
