<h5>add new task</h5>
<a routerLink="/tasks">Back To The List</a>
<div>
  <form (ngSubmit)="add(f)" #f="ngForm" novalidate>
    <div>
      <label>Title</label>
      <input name="title" type="text" [(ngModel)]="task.title" class="form-control" />
    </div>

    <div>
      <label>Due Date</label>
      <input name="dueDate" type="date" [(ngModel)]="task.dueDate" class="form-control" />
    </div>

    <input type="submit" value="Add" class="btn btn-success" />
    <input type="button" value="Cancel" class="btn btn-dark" routerLink="/tasks" />
  </form>
</div>
